.single-line {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #f3f3f3;
}

[contenteditable="true"].single-line {
    white-space: nowrap;
    width:200px;
    overflow-y: hidden;
    padding: 5px 10px;
} 
[contenteditable="true"].single-line br {
    display:none;

}
[contenteditable="true"].single-line * {
    display:inline;
    white-space:nowrap;
}

 .single-line:focus {
   text-overflow: inherit;
}